<?xml version="1.0" encoding="UTF-8"?>
<interceptor>
    <Ignore>com.danlu.dlcodis</Ignore>
    <Ignore>com.danlu.dlcompany.persist.entity</Ignore>
    <Ignore>dto</Ignore>
    <Ignore>com.danlu.framework.web</Ignore>
    <Ignore>com.danlu.dlpublic.dto</Ignore>
    <Ignore>com.danlu.mall.model</Ignore>
    <Ignore>com.danlu.mall.dto</Ignore>
    <Ignore>com.danlu.mall.entity</Ignore>
    <Ignore>com.danlu.dluc.filter</Ignore>
    <Add>com.danlu.mall.web</Add>
    <Add>com.danlu.mall</Add>
    <Add>com.danlu.dlcompany</Add>
    <Add>com.danlu.dluc.web.controller</Add>
    <Add>com.danlu.dluc.service</Add>
    <Add>com.danlu.dluc</Add>
</interceptor>